body {
    background-color: #252827;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

.container {
    width: 100%;
    padding: 70px 0px 0px 0px;
}

.card {
    background-color: #ecf0f0;
	border-radius: 1px;
	box-shadow: 10px 10px 10px -1px rgba(0, 0, 0, 0.75);
	height: 560px;
	margin: 0 auto;
	max-width: 500px;
    overflow: scroll;
    padding: 50px 50px 50px 50px;
}

.media img {
    background-position: center;
	background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    
}

.card-body {
    color: grey;
    height: 100%;
	padding: 30px 20px 50px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    letter-spacing: 2.0px;
}

.divider {
	background: #BA756A;
	height: 5px;
	margin: 25px auto;
	width: 100px;
}


.paragraph {
    font-weight: 300;
    font-size: 20px;
    color: #5c5b5b;
    padding-bottom: 50px;
   padding-top: 1%;
}